{% load static %}
{% block saludo %}
    <div class="container-fluid h-25" style="background-color: black">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 text-center">
                <p class="text-white"><strong>Bienvenido {{ user.primer_nombre }}, encuentra lo que deseas</strong></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block acciones_users %}
    <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
        <div class="row">
            <div class="col-md-6 dropdown">
                <a href="#" class="btn dropdown-toggle-split" data-bs-toggle="dropdown">
                    <img src="{% static 'img\usuario.png' %}" alt="usuario" style="height: 3em">
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-center">
                    <li><button class="btn p-25">MI PERFIL</button></li>
                    <li><button class="btn p-25">CERRAR SESIÓN</button></li>
                </ul>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#carritoModal">
                    <img src="{% static 'img\carrito.png' %}" alt="carrito" style="height: 3em">
                </a>
            </div>
            <div class="modal fade" id="carritoModal" tabindex="-1" aria.labelledby="carritoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-md-down modal-dialog-srollable">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title" id="carritoModalLabel">Carrito de compras - Tienda Virtual</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <h5>¡Tú carrito de compras está vacío!</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Finalizar compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}