{% extends "partials/admin/body.html" %}
{% load static %}

{% block contenido %}
<div class="container-fluid border rounded pb-4" style="width:90%">
    <div class="row justify-content-center w-100 p-3">
        <h1>Productos</h1>
        {% include 'partials/admin/modals/modal-eliminar-producto.html' %}
        <table class="table border rounded" style="height:90%; width:100%; margin-bottom:40%" id="productos-table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Talla</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                {% if producto.estado %}
                <tr>
                    <td>
                        {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-thumbnail" style="max-width: 50px;">
                        {% endif %}
                    </td>
                    <td>{{ producto.nombre }}</td>
                    <td>$ {{ producto.precio }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.talla }}</td>
                    <td>
                        <a href="{% url 'edit_producto' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'producto-delete' producto.id %}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarProductoModal" data-bs-id="{{ producto.id }}" onclick="refreshProductsTable()">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% block scripts_product %}
            <script src="{% static 'plugins\jquery\jquery.min.js' %}"></script> 
            <link href="{% static 'js\plugins\DataTables\datatables.min.css' %}" rel="stylesheet">
            <script src="{% static 'js\plugins\DataTables\datatables.min.js' %}"></script>
            <script>
                $(document).ready(function() {
                    var productsTable = $('#productos-table').DataTable({
                        retrieve: true,
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis'],
                        layout: {
                            topStart: 'buttons'
                        },
                        responsive: true,
                        scroller: true
                    });
                });
                function refreshProductsTable() {
                    var productsTable = $('#productos-table').DataTable();
                    productsTable.draw();
                }                
            </script>
            <script>
                var eliminarProductoModal = document.getElementById('eliminarProductoModal')
                eliminarProductoModal.addEventListener('show.bs.modal', function (event) {
                  var button = event.relatedTarget
                  var productoId = button.getAttribute('data-bs-id')
                  var eliminarProductoBtn = eliminarProductoModal.querySelector('#eliminarProductoBtn')
                  eliminarProductoBtn.href = "{% url 'producto-delete' 0 %}".replace('0', productoId)
                })
              </script>              
        {% endblock scripts_product %}
    </div>
</div>
{% endblock contenido %}
