{% extends 'partials/admin/body.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
    <div class="container">
        <h1 class="my-4">Lista de Usuarios</h1>
        <div class="row">
            <div class="rounded card p-3 col-md-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="Agregar" />
                    
                    {% include 'partials/admin/modals/modal-eliminar.html' %}
                </form>
            </div>
        <div class="col-md-7 ms-4">
        <table class="table table-striped" id="usuarios-table">
            <thead>
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Tipo de Documento</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="users-table-body">
                <!--datos users-->
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            if ($('#confirmEliminar').length) {
                console.log('#confirmEliminar exists')
            } else {
                console.log('#confirmEliminar does not exists')
            }
            //cargar datos de usuarios
            $.ajax({
                url: '/registros/api/usuarios/',
                method: 'GET',
                success: function (data) {
                    console.log("holii")
                    var usersTableBody = $('#users-table-body')
                    data.forEach(function (user) {
                        if(user.estado) {
                        var imagen = user.imagen ? '<img src="' + user.imagen + '" alt="Imagen de ' + user.primer_nombre + '" width="50">' : 'No disponible'
                        var editButton = '<a href="/registros/usuarios/' + user.id + '/" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-pencil-alt"></i></a>'
                        var deleteButton = '<button type="button" class="btn btn-danger" id="btnEliminar" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-titulo="Usuario" data-bs-nombre="' + user.primer_nombre + '" data-bs-url="/registros/usuarios/eliminar/' + user.id + '/" >  <i class="fas fa-trash-alt"></i>   </button>'
                        usersTableBody.append(
                            '<tr>' +
                                '<td>' + imagen + '</td>' +
                                '<td>' + user.primer_nombre + ' ' 
                                        + user.primer_apellido + ' ' 
                                        + user.segundo_apellido + '</td>' +
                                '<td>' + user.fecha_nacimiento + '</td>' +
                                '<td>' + user.correo + '</td>' +
                                '<td>' + user.tipo_documento + '</td>' +
                                '<td>' + user.documento + '</td>' +
                                '<td id="contenedorBotones">' + editButton + ' ' + deleteButton + '</td>' +
                            '</tr>');
                        }
                    })
                    $('#usuarios-table').DataTable({
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis'],
                        layout: {
                            topStart: 'buttons'
                        },
                        responsive: true,
                        scroller: true
                    })
                },
                error: function () {
                    alert('Error al cargar los datos de los usuarios.');
                }
            }); 

            $("body").on('click', '#btnEliminar', function(event) {

                // Obtener el valor de data-bs-url del botón
                var urlEliminar = $(this).data('bs-url');
                var usuario = $(this).data('bs-nombre');
                // Modificar el atributo href del enlace dentro del modal
                $('#confirmEliminar').attr('href', urlEliminar);
                $('#usuarioNombre').text(usuario);
                event.preventDefault();
            });
        })
    </script>
    <script>

        $(document).ready(function() {

        });
    </script>
{% endblock %}