{% extends "partials/admin/body.html.html" %}
{% load static %}
{% block contenido %}
<h1>Editar</h1>
<script src="{% static 'plugins\jquery\jquery.min.js' %}"></script> 


    <script>
        $(document).ready(function() {
            // Datos de ejemplo de los productos
            var products = [
            { id: 1, name: "Camisa", price: 50, category: "camisas", size: "m" },
            { id: 2, name: "Pantalón", price: 80, category: "pantalones", size: "l" },
            { id: 3, name: "Vestido", price: 70, category: "vestidos", size: "s" },
            { id: 4, name: "Zapatos", price: 60, category: "zapatos", size: "42" }
            ];
        
            // Función para mostrar los productos
            function displayProducts(filteredProducts) {
            var productContainer = $('.col-sm-6.col-md-9 .row');
            productContainer.empty();
        
            filteredProducts.forEach(function(product) {
                var productCard = $('<div class="col-md-4 mb-4"></div>');
                var productImage = $('<img src="img/product.jpg" class="img-fluid mb-2" alt="' + product.name + '">');
                var productName = $('<h5>' + product.name + '</h5>');
                var productPrice = $('<p>$' + product.price + '</p>');
        
                productCard.append(productImage, productName, productPrice);
                productContainer.append(productCard);
            });
            }
        
            // Función para filtrar los productos
            function filterProducts() {
            var categoryFilter = $('#category').val();
            var sizeFilter = $('#size').val();
            var priceFilter = parseInt($('#price').val());
        
            var filteredProducts = products.filter(function(product) {
                return (
                (categoryFilter === '' || product.category === categoryFilter) &&
                (sizeFilter === '' || product.size === sizeFilter) &&
                (isNaN(priceFilter) || product.price <= priceFilter)
                );
            });
        
            displayProducts(filteredProducts);
            }
        
            // Evento de clic en el botón "Aplicar Filtros"
            $('.btn-outline-secondary').click(function() {
            filterProducts();
            });
        
            // Mostrar todos los productos inicialmente
            displayProducts(products);
        });
    </script>
    
{% endblock contenido %}