{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
    <script src="{% static 'plugins\jquery\jquery.min.js' %}"></script> 
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container my-5">
    <h1>Pagar pedido</h1>
    
    <form method="post" action="{% url 'procesar_pago' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="nombre">Nombre en la tarjeta:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        
        <div class="form-group">
            <label for="numero_tarjeta">Número de tarjeta:</label>
            <input type="text" class="form-control" id="numero_tarjeta" name="numero_tarjeta" required>
        </div>
        
        <div class="form-group">
            <label for="fecha_expiracion">Fecha de expiración:</label>
            <input type="text" class="form-control" id="fecha_expiracion" name="fecha_expiracion" placeholder="MM/AA" required>
        </div>
        
        <div class="form-group">
            <label for="cvv">CVV:</label>
            <input type="text" class="form-control" id="cvv" name="cvv" required>
        </div>
        
        <div class="form-group">
            <label for="monto">Monto a pagar:</label>
            <input type="number" class="form-control" id="monto" name="monto" value="{{ total_a_pagar }}" readonly>
        </div>
        
        <button type="submit" class="btn btn-primary">Pagar</button>
    </form>
</div>
</body>
</html>