{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual - Moda</title>
    <link rel="shortcut icon" href="{% static 'img/icono_web copy.png' %}">
    <script src="{% static 'plugins\jquery\jquery.min.js' %}"></script> 
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% include 'partials/user/header.html' %}

    {% include "partials/user/navbar.html" %}

    {% block contenido %}
        <!--contenido-->
    {% endblock contenido %}

    {% include "partials/user/footer.html" %}
</body>
</html>
    