{% load static %}
<footer class="bg-dark text-white py-5 p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Sobre Nosotros</h5>
                <p>Somos una empresa dedicada a brindar diferentes tipos de prendas que se adapten a nuestros clientes.</p>
            </div>
            <div class="col-md-3">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li class="pt-2"><a href="#" class="text-white text-decoration-none">Inicio</a></li>
                    <li class="pt-2"><a href="#" class="text-white text-decoration-none">Carrito de compras</a></li>
                    <li class="pt-2"><a href="#" class="text-white text-decoration-none">Hombre</a></li>
                    <li class="pt-2"><a href="#" class="text-white text-decoration-none">Mujer</a></li>
                    <li class="pt-2"><a href="#" class="text-white text-decoration-none">Niño</a></li>
                    <li class="pt-2"><a href="#" class="text-white text-decoration-none">Niña</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contáctanos</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone"></i>+57 310 8540 345</li>
                    <li><i class="fas fa-envelope"></i> empresamoda@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Medios de Pago</h5>
                <ul class="list-unstyled">
                    <li><img class="h-75 w-75" src="{% static 'img\medios.png' %}" alt="mediosPago"></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>&copy; 2024 Empresa. Todos los derechos reservados.</p>
            </div>
        </div>
        </div>
    </div>
</footer>