{% extends "partials/user/base.html" %}
{% load static %}

{% block contenido %}
    <div class="row p-3">
        <div class="col-6 col-md-2 text-left">
            <button class="btn btn-secondary" id="toggleFilterButton">
                <img src="{% static 'img/ajustes.svg' %}" alt="ajustes">
                <span>Ocultar filtros</span>
            </button>              
        </div>
        <div class="col-6 col-md-2 text-left">
            <button class="btn border-0 text-decoration-underline">QUITAR FILTRO</button>
        </div>
        <div class="col-sm-6 col-md-8 text-center">
            <h2>Hombre</h2>
        </div>
    </div>
    <div class="row g-0 text-left px-3">
        <div class="col-6 col-md-3 border border-3 border-black rounded-5 p-4" id="filterBox">
            <div class="form-group">
                <h4 class="pb-3"><strong>Filtrar por:</strong></h4>
                <div class="row">
                    <div class="form-group">
                        <label for="category">Categoría</label>
                        <select class="form-control" id="category">
                            <option value="">Todas las categorías</option>
                            <option value="camisas">Camisas</option>
                            <option value="pantalones">Pantalones</option>
                            <option value="vestidos">Vestidos</option>
                            <option value="zapatos">Bermudas</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="form-group">
                    <label for="size">Talla</label>
                    <select class="form-control" id="size">
                        <option value="">Todas las tallas</option>
                        <option value="xs">XS</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="price">Precio</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="price" placeholder="Precio máximo">
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-secondary mt-3 w-100"><strong>Aplicar Filtros</strong></button>
            </div>
        </div>
        <div class="col-sm-6 col-md-9 p-3 product-container">
            <div class="row g-4" id="product-list">
                {% for producto in productos %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text"><strong>$ {{ producto.precio }}</strong></p>
                            <a href="#" class="btn btn-primary mt-auto">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'plugins\jquery\jquery.min.js' %}"></script> 
    <script src="{% static 'js\productos\filtro.js' %}"></script>
{% endblock %}
